/*Padding: Top Right Bottom Left Padding: Top Right&Left Bottom Padding: Top&Bottom Right&Left*/
/*font-family: 'Lucida Sans', sans-serif;*/

/*App name*/
.appHeader {
  padding-top: 4rem;
  text-align: center;
  font-size: 38px;
  font-family: 'Lucida Sans', sans-serif;
}

/*App description*/
.appDescription {
  text-align: center;
  padding: 0.4rem 14rem;
}

/*Padding around image map*/
.imageMap {
  padding: 1rem;
}

/*Image of the image map*/
.imageMapImage {
  width: 45vw;
  max-width: 100%;
  border: 1px solid #1A1739;
  border-radius: 0.2rem;
}

/*Co-ordinates in the map*/
.imageMap area {
  cursor: pointer;
}

/*Information box*/
.box {
  border: 1px solid #1A1739;
  float: right;
  width: 45vw;
  border-radius: 0.2rem;
}

/*Information box - padding*/
.insideBox {
  padding: 1rem 1rem 0;
}

/*Information box - header*/
.insideBox h3 {
  font-family: 'Lucida Sans', sans-serif;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 22px;
}

.phoneText {
  display: none;
}

/*Information box - text*/
.insideBox p {
  padding-top: 0.4rem;
  padding-left: 0.6rem;
  font-size: 15px;
}

.areaDescription {
  display: none;
}
