/*Padding: Top Right Bottom Left Padding: Top Right&Left Bottom Padding: Top&Bottom Right&Left*/
/*font-family: 'Lucida Sans', sans-serif;*/

/*When the screen is at most 500px wide*/
@media only screen and (max-width: 500px) {
  .aroundApp {
    padding-bottom: 0.3125rem;
    width: 49.9999%;
  }
  .appName {
    font-size: 0.75rem;
    padding: 0.2375rem;
  }
  .appNameDisplayed {display: none;}
  .appNameHidden {display: block;}
  .sectionOneApps {margin-bottom: 15rem;}
}
 
/*When the screen is at least 650px wide*/
@media screen and (min-width: 650px) {
  .padding {padding: 1.5rem 3rem 1rem 3rem;}
}

/*When the screen is at most 700px wide*/
@media only screen and (max-width: 700px) {
  .aroundApp {
    margin: 0.375rem 0;
    padding-bottom: 0.4375rem;
    width: 33%;
  }
  .imageMapImage {width: 100%;}
  .tableBox {width: 100%;}
  .box {
    width: 100%;
    margin-bottom: 2rem;
  }
  .smallScreenText {display: block;}
  .largeScreenText {display: none;}
  .appDescription {padding: 0.4rem 2rem;}
  .sectionOneApps {margin-bottom: 30rem;}
}

/*When the screen is at least 900px wide*/
@media screen and (min-width: 900px) {
  .headerImage2 {display: block;}
  .headerImage {display: none;}
  .padding {padding: 2.5rem 5rem 1rem 5rem;}
}

/*When the screen is at least 1200px wide*/
@media screen and (min-width: 1200px) {
  * {font-size: 20px;}
  .padding {padding: 2rem 7rem 1rem 7rem;}
  .description {text-align: center;}
}